table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  #heading{
    position: absolute;
    top: 30px;
    left: 50%;
    width: 100%;
    /* text-align: center; */
    transform: translate(-5%);
    div{
      color: white;
      font-size: 24px;
    }
  }