.bg {
    background-image: url(https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/Exhibition/Exhibition3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media (max-width: 767px){
	.bg{
		background-position: top center;
    	background-size: contain;
	}
}


