<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/video/To_Networking_Lounge.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<section>
  <div id="content">
    <div id="content_network">
      <div id="bg">
        <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/lounge.jpg" alt="">
      </div>
      <div>
        <div style="position: absolute;  top: 22%; left: 32%;" *ngIf="liveMsg">
          <div class="alert alert-success " role="alert">
              {{socketMsg}}
          </div>
      </div>
            <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="ChatMsg">
              <div class="alert alert-success " role="alert">
                {{senderName}} has sent you a New Message
              </div>
            </div>
            <!-- <div id="setplay">
              <vg-player>
                <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
          
                  <vg-play-pause></vg-play-pause>
                  <vg-time-display ></vg-time-display>
                  <vg-playback-button></vg-playback-button>
                  <vg-mute></vg-mute>
                  <vg-volume></vg-volume>
                  <vg-fullscreen ></vg-fullscreen>
                </vg-controls>
                <vg-buffering></vg-buffering>
                <video #myMedia [vgMedia]="myMedia"
                preload="auto"  autoplay="true"
                 vg-responsive="true"
                type="video/mp4" >
                <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/lilly/video/netwrking.mp4" type="video/mp4">
                </video>
            </vg-player>
            </div> -->
          <!-- <div class="letsChat" (click)="openChat()">
              <div class="pulsating-circle" ></div>
            </div> -->
            <!-- <div class="video" (click)="openCamera()">
              <div class="pulsating-circle" ></div>
            </div> -->
            <!-- <div class="video" >
              <a class="pulsating-circle" href="https://www.cardiometabolicsummit.ekartbbd2020.com/" target="_blank"></a>
            </div> -->
            <div class="showVideoPopup" title="Festival Agenda" data-toggle="modal" data-target=".agendaModal">
            
                <div class="pulsating-circle"  ></div>
              
            </div>
            <div class="photobooth">
              <div class="pulsating-circle" (click)="openCamera()" ></div>
            </div>
            

            <div class="video" data-toggle="modal" data-target=".liveQuestionModal">
              <div class="pulsating-circle" ></div>
            </div>
            <div class="wtsapp" data-toggle="modal" data-target=".showlevels">
              <div class="pulsating-circle" ></div>
            </div>
      </div>
    </div>
  </div>
</section>

<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-body p-0">
              <div id="modal-video">
                  <div id="closePopup" (click)="closeModalVideo()">&times;</div>
                  <video id="video" preload="auto" src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/lilly/video/Lobby_Video.mp4" width="100%" controls>
                  </video>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- <div class="bg">
  <div style="position: absolute;  top: 8%; left: 32%;" *ngIf="liveMsg">
    <div class="alert alert-success " role="alert">
      The session is currently live, please proceed towards the grand ballroom.
    </div>
  </div>
  <div style="position: absolute;  top: 23%;  left: 19%;">
    <vg-player  [ngStyle]="{'width': '20%'}">
      <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">

        <vg-play-pause></vg-play-pause>
        <vg-time-display ></vg-time-display>
        <vg-playback-button></vg-playback-button>
        <vg-mute></vg-mute>
        <vg-volume></vg-volume>
        <vg-fullscreen ></vg-fullscreen>
      </vg-controls>
      <vg-buffering></vg-buffering>
      <video #myMedia [vgMedia]="myMedia"
      preload="auto"  autoplay="true"
       vg-responsive="true"
      type="video/mp4" >
      <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/video/lifeboy.mp4" type="video/mp4">
      </video>
  </vg-player>
  </div>
</div> -->

<div class="modal fade showlevels" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="container-fluid" id="popup">
          <div class="row">
                  <div class="col-md-12 col-xl-12">
                    <div class="chat_section">
                      <div class="popup_header">
                        <h6>Movie Trivia</h6>
                        <a class="close" (click)="closetriiva()"></a>
                      </div>
                      <div class="p-5 text-center bg-white" >
                              <button class="btn btn-success m-2" (click)="getLevel(3)">Start Quiz</button>
                              <!-- <button [disabled]="(level===2)? false:true" class="btn btn-success m-2" (click)="getLevel(99)">Level 2</button> -->
                              <!-- <button class="btn btn-success m-2" (click)="getLevel(4)">Level 2</button>
                              <button class="btn btn-success m-2" (click)="getLevel(6)">Level 3</button> -->

                          </div>
                    </div>
                  </div>
                </div>
              

          </div>
      </div>
  </div>
</div>
<div class="modal fade groupchatFours" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">

          <div class="container-fluid" id="popup">
                  <div class="row">
                          <div class="col-md-12 col-xl-12">
                            <div class="chat_section">
                              <div class="popup_header">
                                <h6>Quiz</h6>
                                <a class="close" (click)="closePopupquiz()"></a>
                              </div>
                          
                                  <div class="bg-white" style="overflow-y: scroll;
                                  height: 600px;">

                                          <div *ngIf="showQuiz">
                                                  <div *ngFor="let data of result">
                                                      <div class="col-md-12">
                              
                                                          <br />
                                                          <hr />
                                                          <div class="col-md-8">
                                                              <h5>{{data.question}}</h5>
                                                              <div *ngFor="let o of data.options">
                                                                  <input type="radio" name="{{data.id}}" value="{{o}}" (click)="getAnswers(data.id, o)">
                                                                  {{o}}
                                                              </div>
                                                          </div>
                                                      </div>
                              
                                                  </div>
                              
                                                  <div class="text-center">
                              
                                                      <input type="submit" class="btn" value="Submit" (click)="submit()" style="background: #366c98; color: white;
                                                      margin: 10px;" />
                                                  </div>
                                              </div>
                                              <div *ngIf="!showQuiz">
                                                  <hr>
                                                  <div style="text-align:center; padding: 100px">
                                                      <p style="background: #417cab;
                                                          color: white;
                                                          border-radius: 10px;
                                                          padding: 5px;">Quiz successfully submitted.
                                                      <br> Your Score is {{totalscore}} out of {{result.length}}.</p>
                                                  </div>
                                              </div>
                                  </div>
                            </div>
                          </div>
                        </div>
              

          </div>
      </div>
  </div>
</div>