.bg {
    background-image: url(https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/NetworkingLounge/fame.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
section{
    position: relative;
    height: 100%;
    width: 100%;
    #content{
        position: relative;
        #content_network{
            position: relative;
            height: 100%;
            width: 100%;
            #bg{
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                img{
                    width: 100vw;
                    height: 105vh;
                }
            }
        }
    }
}
#setplay{
    position: absolute;  
    top: 24%;
    left: 19%;
    vg-player{
        width: 16.5vw;
    height: 18vh;
    }
}
.letsChat {
    position: absolute;
    top: 28%;
    right: 13%;
    cursor: pointer;
    height: 7vw;
    width: 11vw;
  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 15%;
      cursor: pointer;
  }
}
.smile {
  .pulsating-circle{
      position: absolute;
      top: 27%;
      right: 15%;
      cursor: pointer;
  }
}
.video {
  .pulsating-circle{
      position: absolute;
      top: 62%;
    right: 50%;
      cursor: pointer;
  }
}
.wtsapp {
  .pulsating-circle{
      position: absolute;
      top: 44%;
      right: 60%;
      cursor: pointer;
  }
}
.showVideoPopup {
    position: absolute;
    top: 34%;
    right: 27%;
    cursor: pointer;
    height: 12vw;
    width: 12vw;

  .pulsating-circle{
      position: absolute;
      top: 40%;
      right: 40%;
      cursor: pointer;
  }
}
.photobooth {
    position: absolute;
    top: 45%;
    left: 16%;
    cursor: pointer;
    height: 12vw;
    width: 15vw;
  .pulsating-circle{
      position: absolute;
      top: 56%;
      left: 38%;
      cursor: pointer;
  }
}
#modal-video{
    border-radius:5px; 
    padding: 0 3px;   
    position: relative;
    top: 3px;
    #closePopup{
        position: absolute;
        top: -16px;
        right: -16px;
        line-height: 24px;
        font-size: 30px;
        background: #e40e38;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        text-align: center;
        color: white;
        font-weight: 500;
        z-index: 1000;
        cursor: pointer;
    }
}
#popup{
    background: #000000c9;
    padding: 5px;
    .chat_section{
      background: #292F35;
      .popup_header{
        height: 40px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        color: #fff;
    
        .close {
          position: absolute;
          right: 7px;
          width: 24px;
          height: 28px;
          opacity: 0.5;
        }
        .close:hover {
          opacity: 1;
        }
        .close:before, .close:after {
          position: absolute;
          right: 7px;
          content: ' ';
          height: 28px;
          width: 2px;
          background-color: #fff;
        }
        .close:before {
          transform: rotate(45deg);
        }
        .close:after {
          transform: rotate(-45deg);
        }
    
      }
    }
    }