<section>
    <div id="content">
      <div id="content_network">
        <div id="bg">
          <a routerLink="/masterclass/class1">
            <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/masterplain.jpg" alt=""></a>
          
        </div>
        <!-- <div class="row" style="position: absolute; top: 40%; left: 35%;">
            <div class="col-md-4">
               
                <a routerLink="/masterclass/class1"  class="btn btn-block audibtn"> Master Class 1</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/masterclass/class1" class="btn btn-block audibtn">Master Class 2</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/masterclass/class1" class="btn btn-block audibtn">Master Class 3</a>
            </div>
        </div> -->


      </div>
    </div>
  </section>