.bg {
    background-image: url(https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/Stage/audi1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;
  
    // position: relative;
  }
  section{
    position: relative;
    height: 100%;
    width: 100%;
    #clap{
        position: absolute;
        top: 19%; 
        right: 1%;
        z-index: 1000;
    }
    #content{
      position: relative;
      #content_wrap{
        position: relative;
        #bg{
          position: relative;
          width: 100%;
          height: 100%;
          display: block;
          img{
            width: 100vw;
            height: 105vh;
          }
        }
        #player_sec{
          position: absolute;  
          top: 20.5%;  
          left: 25.7%; 
          vg-player{
            width: 48.7vw;
            height: 48.3vh;
          }
        }
      }
    }
  }
  @keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
  }
  
  @media (max-width: 767px){
  .bg{
    background-position: top center;
      background-size: contain;
  }
  }
  
  .rightMenu{
  position: absolute;
  right: 0;
  top: 30%;
  text-align: center;
  padding: 20px 10px;
  color: #fff;
  background: rgba(0,0,0,.3);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  }
  a{
  
  cursor: pointer;
  }
  .handimg{
  width:48px;
  height:48px;
  display: block;
  background-image: url(https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/hand.png);
  background-repeat:no-repeat;
  }


  @media (max-width: 767px){
      section{
        #clap{
            top: 18%;
            img{
                width: 46px;
            }
        }
      }
      .rightMenu{
        position: absolute;
        right: 0;
        top: 36%;
        text-align: center;
        padding: 5px;
        color: #fff;
        background: rgba(0,0,0,.3);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        ul{
            margin: 0;
            li{
                margin: 2px;
                a{
                    img{
                        width: 20px;
                    }
                    div{
                        font-size: 10px;
                    }
                }
            }
        }    
    }
  }