<section class="sectionBgnew">
  <div class="content-wrap">
    <div class="content loby-content">
      <div class="loby-bg">
        <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/helpdesk.jpg" width="100%" alt="audi">
      </div>
      <div style="position: absolute;  top: 7%; left: 32%;" *ngIf="liveMsg">
        <div class="alert alert-success " role="alert">
            {{socketMsg}}
        </div>
    </div>
      <div class="playScreen">
        <div>
          <!-- <video id="video" preload="auto" autoplay src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/lilly/video/Lobby_Video.mp4" 
            controls>
          </video> -->
        </div>
        <!-- <div *ngIf="showPoster">
          <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/serdia_myanmar/images/playScreen.jpg" (click)="playScreenOnImg()" alt="">
        </div> -->
      </div>
      <div>
          <div class="askqa" title="May i help you?">
            <div class="pulsating-circle" data-toggle="modal" data-target=".liveQuestionModal">
        
            </div>
          </div>
          <!-- <div class="contacts" title="Emergency contacts">
            <div class="pulsating-circle" data-toggle="modal" data-target=".heightlightModal">
        
            </div>
          </div>
          <div class="agenda">
            <div class="pulsating-circle" data-toggle="modal" data-target=".feebackModal">
        
            </div>
          </div>
          <div class="heighlights">
            <div class="pulsating-circle" data-toggle="modal" data-target=".agendaModal">
        
            </div>
          </div> -->
        </div>
    </div>
  </div>
  <!-- <div class="agenda">
    <div class="pulsating-circle" data-toggle="modal" (click)=openpopup()>

    </div>
  </div>
  <div class="heighlights">
    <div class="pulsating-circle" data-toggle="modal" data-target=".agendaModal">

    </div>
  </div> -->


<div class="modal fade NoFeedback" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="container-fluid" id="popup">
              <div class="row">
                  <div class="col-md-12 col-xl-12">
                      <div class="chat_section">
                          <div class="popup_header">
                            <h6>Virtual NSC Feedback Form</h6>
                            <a class="close" (click)="closePopup()"></a>
                          </div>
                          <div class="container-fluid" style=" background: #f2f4f7;">
                      <h4 class="text-center p-5">Your Feedback Successfully Submitted</h4>
                      </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</section>