.bg {
  background-image: url(https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/Exhibition/Exhibition3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #2d2b21;
  animation: opac .5s;

  // position: relative;
}
section{
  position: relative;
  width: 100%;
  height: 100%;
  #content{
    position: relative;
    #exhibition_content{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      max-width: 100%;
      margin: auto;
      #fullBg{
        position: relative;
        height: 100%;
        width: 100%;
        display: block;
        img{
          width: 100vw;
          height: 100vh;
        }
      }
    }
  }
}
@keyframes opac {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}

.dareToInnovative{
  position: absolute;
  top: 70%;
  left: 15%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_4{
  position: absolute;
  top: 48%;
  left: 25%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_5{
  position: absolute;
  top: 48%;
  left: 45%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_6{
  position: absolute;
  top: 48%;
  left: 67%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_7{
  position: absolute;
  top: 38%;
    left: 18%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_8{
  position: absolute;
  top: 38%;
    left: 36%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_9{
  position: absolute;
  top: 38%;
    left: 56%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_10{
  position: absolute;
  top: 38%;
    left: 75%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_11{
  position: absolute;
  top: 34%;
    left: 29%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_12{
  position: absolute;
  top: 34%;
    left: 46%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.lilly_13{
  position: absolute;
  top: 34%;
    left: 64%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.growBySharing{
  position: absolute;
  top: 43%;
  left: 36%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.commitToSucceed{
  position: absolute;
  top: 69%;
  right: 46%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}
.care{
  position: absolute;
  top: 71%;
  right: 14%;
  // background: black;
  cursor: pointer;
  height: 8vw;
  width: 8vw;
  .pulsating-circle{
      position: absolute;
      top: 50%;
      left: 50%;
  }
}