<span id="skip" *ngIf="videoPlay">
  <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
      SKIP</a>
</span>
<div class="container-fluid" [ngStyle]="{'display':videoPlay? 'none': 'block'}">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
      <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/login.jpg" class="login-img" alt="login image">
      <div class="login-section-wrapper">
        <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>
        <!-- <div class="brand-wrapper">
          <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/lilly/images/logo_2.png" alt="logo">
        </div> -->
        <div class="login-wrapper my-auto">
          <div>
            <h1 class="login-title">Sign In</h1>
          <form [formGroup]="profileForm" #formDir="ngForm" (ngSubmit)="loggedIn()">
           
            <div class="form-group">

              <label for="email" style="color: #000;">Email</label>

              <div class="input-field">
               
              <input type="text"  class="form-control" required autocomplete="off" formControlName="email" placeholder="Email ID">
            
              </div>


            </div>
            <!-- <div class="form-group mb-4">
              <label for="password">Password</label>

              <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                formControlName="password">
            </div> -->
            <input   name="login" id="login" class="btn btn-block login-btn" type="submit" value="Login">
          </form>
          </div>
          <!-- <div id="close" style="    background-color: blue;
          width: 266px;
          height: 108px;
          padding: 33px;
          margin-left: auto;
          margin-right: auto;
          border-radius: 25px;
      ">
          <h6 style="color: white;font-weight: bold;">Count down for login</h6>
            <p id="demo" style="color: white; font-size: 19px;  text-align: center;"></p>
          </div> -->
          
          <!-- <p class="login-wrapper-footer-text">you don't have an account? <a routerLink="/signup" class="text-reset">Register</a></p> -->
          <p  class="login-wrapper-footer-text" style="color: gray; font-weight: bold; margin-top: 70%;">Powered by 
            <a href="https://multitvsolution.com/" target="_blank" rel="noopener noreferrer">Multitv Tech Solutions Pvt. Ltd.</a></p>
        </div>
        <!-- <div class="brand-wrapper text-center">
          <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/lilly/images/logo_1.png"  alt="logo">
        </div> -->
      </div>
    </div>
  </div>
</div>
<div [ngStyle]="{'display':videoPlay? 'block': 'none'}" class="videoContainer">
      <video id="myVideo" preload="auto" class="videoBg" (ended)="endVideo()">
          <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/videos/Entry.mp4" type="video/mp4">
        </video>
</div>
<div>
  <!-- <div id="potrait" *ngIf="videoPlay && potrait">
    <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/rotate.gif" alt="">
    <p>Switch to Landscape view</p>
  </div> -->
</div>
<!-- <main>
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-12  px-0 d-none d-sm-block">
        <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/h-about.jpg" alt="login image" class="login-img">
        <div class="login-section-wrapper">
          <div class="brand-wrapper">
            <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/logo.png" height="50" alt="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Sign In</h1>
            <form [formGroup]="loginForm">
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" class="form-control" formControlName="email" placeholder="email@example.com">
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                  formControlName="password">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" (click)="login()" type="button" value="Login">
            </form>
            <a href="#!" class="forgot-password-link">Forgot password?</a>
            <p class="login-wrapper-footer-text">you have an account? <a href="#!" class="text-reset">Signin here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main> -->