.bg {
    //background-image: url(https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/NetworkingLounge/fame.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-color: #2d2b21;
    animation: opac .5s;

    // position: relative;
}
@keyframes opac {
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
section{
    position: relative;
    height: 100%;
    width: 100%;
    #content{
        position: relative;
        #content_network{
            position: relative;
            height: 100%;
            width: 100%;
            #bg{
                position: relative;
                height: 100%;
                width: 100%;
                display: block;
                img{
                    width: 100vw;
                    height: 105vh;
                }
            }
        }
    }
}

.agenda {
    position: absolute;
    top: 45%;
    left: 53%;
    cursor: pointer;
    // background: black;
    height: 5vw;
    width: 4vw;
    .pulsating-circle{
        position: absolute;
        top: 50%;
        left: 50%;
        cursor: pointer;
    }

}