<section>
    <div id="content">
      <div id="content_network">
        <div id="bg">
          <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/Pressroom.jpg" alt="">
        </div>
        <div style="position: absolute;  top: 7%; left: 32%;" *ngIf="liveMsg">
          <div class="alert alert-success " role="alert">
              {{socketMsg}}
          </div>
      </div>
        <!-- <div class="row" style="position: absolute; top: 40%; left: 35%;">
            <div class="col-md-4">
               
                <a routerLink="/masterclass/class1"  class="btn btn-block audibtn"> Master Class 1</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/masterclass/class2" class="btn btn-block audibtn">Master Class 2</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/masterclass/class3" class="btn btn-block audibtn">Master Class 3</a>
            </div>
        </div> -->


        <div class="agenda" >
          <a href="https://us02web.zoom.us/j/82302212589" target="_blank" rel="noopener noreferrer">
            <div class="pulsating-circle" id="agenda_pulse">

            </div></a>
          
      </div>
      </div>
    </div>
  </section>