<!-- <div class="bg"></div> -->
<section class="sectionBgnew">
  <div class="content-wrap">
    <div class="lobby-bg">
      <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/serdia_myanmar/images/lobby.jpg" alt="audi">
    </div>

    <div class="playScreen">
      <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/serdia_myanmar/images/playScreen.jpg" alt="">
    </div>
  </div>
</section>
<audio id="myAudio" preload="auto" autoplay (ended)="naviTolob()">
  <source src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/Lobby/welcome.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<a (click)="playAudio()" type="button"></a>