<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/video/to_right_Auditorium.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<section>
    <!-- <div style="position: absolute;top: 10%; right: 1%;z-index: 1000;">
        <audio id="myAudioWhistle">
            <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.wav" type="audio/wav">
            <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/whistle.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <a (click)="playAudioWhistle()" type="button">
            <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/whistle.png" alt="">
            <span class="handimg"></span>
        </a>
    </div> -->
        <!-- <div id="clap">
            <audio id="myAudioClap">
                <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.wav" type="audio/wav">
                <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a (click)="playAudioClap()" type="button">
                <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/hand.png" alt="">
                <span class="handimg"></span>
            </a>
        </div> -->
        <div id="content">
            <div id="content_wrap">
                <div id="bg">
                    <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/lilly/images/sceintfic.jpg" alt="">
                </div>
                <div class="reception" (click)="enterKeyPortfolio()">
                    <div class="pulsating-circle" id="reception_pulse"></div>
                </div>
            </div>
        </div>
    
</section>
