<div [ngStyle]="{'display':landscape?'none':'block'}">
    <div id="potrait">
        <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/img/rotate.gif" alt="">
        <p>Switch to Landscape view</p>
    </div>
</div>
<div [ngStyle]="{'display':landscape?'block':'none'}">
    <router-outlet></router-outlet>
</div>
<!-- <router-outlet></router-outlet> -->