<section>
    <div id="content">
      <div id="content_network">
        <div id="bg">
         <a routerLink="/auditorium/one">
          <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/plain.jpeg" alt="">
        </a>
        </div>
        <!-- <div class="row" style="position: absolute; top: 40%; left: 35%;">
            <div class="col-md-4">
               
                <a routerLink="/auditorium/one"  class="btn btn-block audibtn">Audi 1</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/auditorium/one" class="btn btn-block audibtn">Audi 2</a>
            </div>
            <div class="col-md-4">
                <a routerLink="/auditorium/one" class="btn btn-block audibtn">Audi 3</a>
            </div>
        </div> -->


      </div>
    </div>
  </section>