#skip{
    position: absolute;
    top: 10px;
    left: 75px;
    background: #141433;
    color: white;
    z-index: 99999999999;
    font-weight: 600;
    font-size: 14px;
    // padding: 2px;
    border: 1px solid #060a39;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 0px;
    a{
        text-transform: capitalize;
        color: white;
    }
  }