<div [ngStyle]="{'display':videoPlays? 'block': 'none'}" class="videoContainer">
<!-- <video src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/videos/onload.mp4" id="myVideo" autoplay width="100%" preload="auto" (ended)="gotofirst()"></video> -->
<video id="myVideo"  muted autoplay  playsinline class="videoBg" (ended)="gotofirst()">
    <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/videos/onload.mp4" type="video/mp4">
</video >
</div>
<span id="skip" *ngIf="videoPlays">
    <a class="nav-link sign" (click)="skipButton()" title="SKIP" role="button">
        SKIP</a>
  </span>