<div class="container-fluid" id="popup">
    <div class="row">
        <div class="col-md-12 col-xl-12">
            <div class="chat_section">
                <div class="popup_header">
                    <h6 style="text-transform: uppercase;">Documents</h6>
                    <a class="close" (click)="closePopup()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                    <div class="row pt-2">
                        <div class="col-md-12 col-xl-12 pl-0">
                            <div class="chat_box">
                                <ul class="chat_message">
                                    <ng-container *ngFor="let list of documentsList">
                                        <li class="chat_messageList">
                                            <div class="img_avatar"> <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/pdf.png" alt=""></div>
                                            <p>
                                                <span class="person">
                                                    <a href="javascript:void(0);" class="checkProfile">{{list.document}}</a>
                                                </span>

                                            </p>

                                        </li>
                                        <hr>
                                    </ng-container>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>