.bg {
  background-image: url(https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/Exhibition/arise.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: #2d2b21;
  animation: opac .5s;

  // position: relative;
}
@keyframes opac {
  from{
      opacity: 0;
  } to {
      opacity: 1;
  }
}

@media (max-width: 767px){
.bg{
  background-position: top center;
    background-size: contain;
}
}
.docs {
  .pulsating-circle{
      position: absolute;
      top: 45%;
      right: 41%;
      cursor: pointer;
  }
}
.chats {
  .pulsating-circle{
      position: absolute;
      top: 49%;
      right: 58%;
      cursor: pointer;
  }
}
.call {
  .pulsating-circle{
      position: absolute;
      top: 57%;
      right: 58.5%;
      cursor: pointer;
  }
}
.info {
  .pulsating-circle{
      position: absolute;
      top: 70%;
      right: 65%;
      cursor: pointer;
  }
}

