
<!-- <div class="h-5">
    <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/logo.png" class="p-2" alt="">
    <div class="float-right p-3">
        <div style="color: #f15c25;border: 1px solid #f15c25;padding: 5px; font-weight: 900">#ETSaleStrategy</div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
        <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/lilly/images/login.jpg" class="login-img" alt="login image">
        <div class="login-section-wrapper">
          <div style="color: red; text-align: center; line-height: 32px; font-weight: 600" *ngIf="msg">{{msg}}</div>
          
          <div class="login-wrapper my-auto">
            <!-- <h1 class="login-title">Sign In</h1> -->
            <form [formGroup]="profileForm" #formDir="ngForm" (ngSubmit)="register()">
              <!-- <form [formGroup]="loginForm" #formDir="ngForm"> -->
              <div class="form-group">
  
                <!-- <label for="email">Email</label> -->
  
                <div class="input-field">
                  <label for="Name">Name</label>
                  <input type="text" ng-pattern-restrict="/^[a-zA-Z\s]*$/" class="form-control" required autocomplete="off" formControlName="name" placeholder="Enter Your Name" maxlength = "20" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                  <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                    <div *ngIf="f.name.errors.pattern">Please enter A-Z characters only</div>
                </div>
                <label for="email" style="margin-top: 19px;
                margin-bottom: 0px;">Email ID</label>
                <input type="text"  class="form-control" required autocomplete="off" formControlName="email" placeholder="Enter Your Email ID" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
              <label for="phone" style="margin-top: 19px;
                margin-bottom: 0px;">Mobile Number</label>
                <input type="number"  onKeyPress="if(this.value.length==10) return false;" class="form-control" required autocomplete="off" formControlName="phone" placeholder="Enter Your Mobile Number" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf="f.phone.errors.required">Mobile Number is required</div>
              </div>
              <label for="age" style="margin-top: 19px;
              margin-bottom: 0px;">Age</label>
                <input type="number" min="0" max="99" onKeyPress="if(this.value.length>=2) return false;"  class="form-control" required autocomplete="off" formControlName="age" placeholder="Enter Your Age" [ngClass]="{ 'is-invalid': submitted && f.age.errors }">
                <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                  <div *ngIf="f.age.errors.required">Age is required</div>
              </div>
              <label for="gender" style="margin-top: 19px;
              margin-bottom: 0px;">Gender</label>
                <select required class="form-control" formControlName="sex"  id="" [ngClass]="{ 'is-invalid': submitted && f.sex.errors }">
                    <option value=''> Select your Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="others">Others</option>
                </select>
                <div *ngIf="submitted && f.sex.errors" class="invalid-feedback">
                  <div *ngIf="f.sex.errors.required">Gender field is mandatory</div>
              </div>
              <label for="yourself" style="margin-top: 19px;
              margin-bottom: 0px;">Tell Us About Yourself</label>
               
                <textarea name="" id=""  rows="2" maxlength = "100" class="form-control" required autocomplete="off" formControlName="yourself" placeholder="Enter" [ngClass]="{ 'is-invalid': submitted && f.yourself.errors }"></textarea>
                <div *ngIf="submitted && f.yourself.errors" class="invalid-feedback">
                  <div *ngIf="f.yourself.errors.required">This is required</div>
              </div>
              <label for="type" style="margin-top: 19px;
              margin-bottom: 0px;">Enter User Type</label>
                <select required class="form-control" #mySelect (change)='onOptionsSelected(mySelect.value)' formControlName="user_type"  id="" [ngClass]="{ 'is-invalid': submitted && f.user_type.errors }">
                    <!-- <option value="Press">Press</option> -->
                    <option value="Normal">General Users</option>
                    <option value="press">Media Person</option>
                </select>
                <div *ngIf="submitted && f.user_type.errors" class="invalid-feedback">
                  <div *ngIf="f.user_type.errors.required">User Type is required</div>
              </div>
                </div>
                
                <!-- for general user -->
                <!-- <div>
                  <label for="first_image" style="margin-top: 19px;
                  margin-bottom: 0px;">Enter Recommendation Letter</label>
                <input type="file" class="form-control" (change)="handleFileInput($event)" id="files" name="myfile" formControlName="first_image" accept="image/*">
                </div> -->

                  <!-- for media persons -->

                <div *ngIf="type_media">
                  <label for="media_type" style="margin-top: 19px;
                  margin-bottom: 0px;">Enter Media Type</label>
                    <select required class="form-control" #myMedia (change)='getMediaOrganisation(myMedia.value)' formControlName="media_type"  id="">
                        <!-- <option value="Press">Press</option> -->
                        <option value="Paid">MEDIA ORGANIZATION</option>
                        <option value="freelance">FREELANCE MEDIA PERSONS</option>
                    </select>
                </div>

                  <!-- for paid paid media persons -->

                <div [ngStyle]="{'display': paid_media? 'block': 'none'}">
                  <div [ngSwitch]="item"  *ngFor="let item of farr" >
                    <div *ngSwitchCase="'first_image'">
                      <label for="first_image" style="margin-top: 19px;
                  margin-bottom: 0px;">Enter Recommendation Letter</label>
                <input type="file" class="form-control" (change)="handleFileInput($event)" id="files" name="myfile" formControlName="first_image" accept="image/*">
                    </div>   .
                    <div *ngSwitchCase="'press_id'">
                      <label for="second_image" style="margin-top: 19px;
                   margin-bottom: 0px;">Enter Press ID</label>
                 <input type="file" (change)="handlePressId($event.target.files)" class="form-control" formControlName="press_id" accept="image/*">
                    </div>                 
                  </div>
                  
                <!-- <div *ngIf="submitted && formDir.get.errors" class="invalid-feedback">
                  <div *ngIf="f.first_image.errors.required">imagh s is required</div>
              </div> -->
              
                   <div class="row"  style="margin-top: 19px;
                   margin-bottom: 0px;">
                    <label for="first_image" style="margin-top: 19px;
                    margin-bottom: 0px;">Weblinks : </label>


                    <ul class="list-group" [ngSwitch]="item"  *ngFor="let item of farr">
                     
                      <li class="list-group-item" *ngSwitchCase="'weblink_image'">
                        <input type="file" class="form-control" (change)="handleweblinkPaid($event.target.files)" formControlName="weblink_image" accept="image/*" >
                      </li>
                      <label for="">or</label>
                      <li class="list-group-item" *ngSwitchCase="'weblink1'">
                        <input type="text" class="form-control" formControlName="weblink1" placeholder="Weblink 1" >
                      </li>
                      <li class="list-group-item" *ngSwitchCase="'weblink2'">
                        <input type="text" class="form-control" formControlName="weblink2" placeholder="Weblink 2" >
                      </li>
                      <li *ngSwitchCase="'weblink3'" class="list-group-item">
                        <input type="text" class="form-control" formControlName="weblink3" placeholder="Weblink 3" >
                      </li>
                    </ul>
                   </div>
                
                   
                </div>

                <!-- for freelance media  -->

                <div *ngIf="freelance_media">
                  <label for="first_image" style="margin-top: 19px;
                  margin-bottom: 0px;">Enter Self Declaration Letter</label>
                <input type="file" (change)="handleFreelanceMedia($event.target.files)" class="form-control" formControlName="freelance_image" accept="image/*" >
                <label for="first_image" style="margin-top: 19px;
                margin-bottom: 0px;">Weblinks</label>
                 <input type="text" class="form-control" formControlName="freelance_weblink" placeholder="Enter Weblink" >
               
                
                </div>
  
              </div>
              <!-- <div class="form-group mb-4">
                <label for="password">Password</label>
  
                <input type="password" name="password" id="password" required class="form-control" placeholder="enter your passsword"
                  formControlName="password">
              </div> -->
        
                <!-- <recaptcha
            [formControl]="myRecaptcha"
            (resolved)="resolved($event)"
            
            (scriptLoad)="onScriptLoad()"
            (scriptError)="onScriptError()"
          ></recaptcha> -->
          <!-- <ngx-recaptcha2
          [siteKey]="siteKey"
          [useGlobalDomain]="false"
         
          (load)="handleLoad()"
          (success)="handleSuccess($event)"
          formControlName="recaptcha">
        </ngx-recaptcha2> -->
            
              
          &nbsp;
              <input   name="login" id="login" class="btn btn-block login-btn" type="submit" value="Submit">
              <!-- <button id="rzp-button1">Pay</button> -->
            </form>
            <!-- <p class="login-wrapper-footer-text">you don't have an account? <a routerLink="/signup" class="text-reset">Register</a></p> -->
            <p class="login-wrapper-footer-text">*MEDIA REGISTRATION WILL BE OPEN SHORTLY.</p>
            <p class="login-wrapper-footer-text">This registration is only restricted to the OTT  <br> platform and the delegates cannot use <br> this registration for the physical events in goa.</p>
            
          </div>
          
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade thanks" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="container-fluid" id="popup" style="padding: 0;">
            <div class="row">
              <div class="col-md-12 col-xl-12">
                <div class="chat_section">
                  <div class="popup_header" style="    background: black;
                  color: white;
                  text-align: center;
                  padding: 10px;
              ">
                    <h6 style="text-transform: uppercase;">Thanks for payment</h6>
                    <a class="close" (click)="closePopup()" style="color: white;"></a>
                  </div>
                  <div class="container-fluid" style="  background: #f2f4f7;">
                    <div class="row pt-2 text-center">
                        <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/thanks.jpg" alt="" width="100%">
                    </div>
                   
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>
  