<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
        <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/thanks.jpg" class="img-fluid" >
        </div>
        </div>
        </div>