<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-xl-12 px-0 d-xs-block d-sm-block d-md-block d-xl-block">
        <div *ngIf="landscape">
          <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/first.jpg" class="login-img" alt="login image" style="position: relative;">
       <!-- <div class="clicks">
           <a routerLink='/signup'> </a>
       </div> -->
       <a  class="register" href="https://my.iffigoa.org/" target="_blank"></a>
       <a  class="clicks" routerLink='/signup'></a>
      </div>
      <div *ngIf="!landscape">
        <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/mobile.jpg" class="login-img" alt="login image" style="position: relative;">
     <!-- <div class="clicks">
         <a routerLink='/signup'> </a>
     </div> -->
     <a  class="registermobile" href="https://my.iffigoa.org/" target="_blank"></a>
     <a  class="clicksmobile" routerLink='/signup'></a>
    </div>
        </div>
        
    </div>
  </div>