<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/video/To_Exhibition.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="bg"></div> -->
<!-- <div style="position: relative;  top: -58%;  left: 29%;">
  <vg-player  [ngStyle]="{'width': '14.5%'}">
    <vg-controls [vgAutohide]="true" [vgAutohideTime]="1"> 

      <vg-play-pause></vg-play-pause>
      <vg-time-display ></vg-time-display>
     
      <vg-mute></vg-mute>
      <vg-volume></vg-volume>
      <vg-fullscreen ></vg-fullscreen>
    </vg-controls>
    <vg-buffering></vg-buffering>
    <video #myMedia [vgMedia]="myMedia"
    preload="auto"  autoplay="true"
     vg-responsive="true"
    type="video/mp4" [src]="exhibiton.video" >
   
    </video>
</vg-player>
</div> -->
<span id="back">
  <a class="nav-link sign" routerLink="/exhibitionHall" title="Back" role="button">
      BACK</a>
</span>
<section>
  <div class="content-wrap">
    <div class="bg_img">
      <img src="{{banner}}" alt="">
    </div>
    <!-- <div class="video" title="Play Video">
      <div class="pulsating-circle" (click)="playGrowBySharingVideo();"></div>
    </div> -->
    
  </div>
</section>
<!-- <div id="light">
  <a class="boxclose" id="boxclose" (click)="lightbox_close();"></a>
  <video id="VisaChipCardVideo" [src]="exhibiton.video"  width="600" controls>
  </video>
</div>
<div id="fade" (click)="lightbox_close();"></div> -->
<!-- <div class="video" title="Play Video">
  <div class="pulsating-circle" (click)="playGrowBySharingVideo();"></div>
</div> -->
<!-- <div class="chats" title="Chat with Exhibitors">
  <div class="pulsating-circle" data-toggle="modal" data-target=".liveQuestionModal"></div>
</div>
<div class="docs" title="Show Documents">
  <div class="pulsating-circle" data-toggle="modal" data-target=".docsModal"></div>
</div> -->
<!-- <div class="call" title="Schedule a call" (click)="openCallBox()">
  <div class="pulsating-circle" ></div>
</div> -->
<!-- <div class="info" title="Sales info">
  <div class="pulsating-circle" data-toggle="modal" data-target=".salesModal"></div>
</div> -->


<!-- side click points -->

<div class="booth-icons-box">
		
						
						
			
  <a *ngIf="videosource !='' && exhibitionName != '286'" class="booth-icon-link" href="javascript:void(0);" (click)="playGrowBySharingVideo(exhibiton[0].video);">		
    Play video				<span><img src="https://eemadday.com/images/booth-icons/Video.svg"></span>
            </a>			
            <a *ngIf="exhibitionName == '286'" class="booth-icon-link" href="javascript:void(0);" data-toggle="modal" data-target=".videosModal">		
              Play video				<span><img src="https://eemadday.com/images/booth-icons/Video.svg"></span>
                      </a>
                  <a *ngIf="document.length !=0" class="booth-icon-link" href="javascript:void(0);" data-fancybox="" data-toggle="modal" data-target=".docsModal">
    Brochures	<span><img src="https://eemadday.com/images/booth-icons/doc.svg"></span>
                </a>
              
        <a data-fancybox=""  data-toggle="modal" data-target=".liveQuestionModal" href="javascript:void(0);" class="booth-icon-link">
    Chat With Exhibitior	<span><img src="https://eemadday.com/images/booth-icons/chat.svg"></span>
            </a>
      
        <!-- <a class="booth-icon-link" href="javascript:void(0);" data-fancybox="" data-type="ajax" data-src="https://eemadday.com/exhibitors/schedule_call?exhibitor_id=2&amp;stall_id=3">
  <span><img src="https://eemadday.com/images/booth-icons/schedule-call.svg"></span>
             </a> -->
     </div>


<div class="modal fade salesModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">sales information</h6>
                  <a class="close" (click)="closePopup()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
        
                    <div class="col-md-6">
                      <div class="profile-card">
                        <figure>
                          <i class="fa fa-user"></i>
                        </figure>
                        <h3>{{exhibiton.salesman}}</h3>
                          <table class="table">
                                                                <tbody><tr>
                                      <td><i class="fa fa-id-badge"></i>{{exhibiton.sales_position}}</td>
                                  </tr>
                                                            <tr>
                                  <td><i class="fa fa-envelope"></i>{{exhibiton.salesman_email}}</td>
                              </tr>
                              <tr>
                                  <td><i class="fa fa-mobile"></i>{{exhibiton.phone}}</td>
                              </tr>
                          </tbody></table>
                      </div>
                    </div>
                   
        
        
        
                   
                  </div>
                 
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<!-- Document Modal -->
<div class="modal fade docsModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">Resources</h6>
                  <a class="close" (click)="closePopupdocs()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      <div class="chat_box">
                        <ul class="chat_message">
                          <li class="chat_messageList" *ngFor="let docs of document">
                            <!-- <a target="_blank" (click)="getDocument('https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/arise.pdf')"> -->
                            <div class="img_avatar"> <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/pdf.png" alt=""></div>
                            <p style="    display: inline;">
                              <span class="person">
                                <a href="{{docs.url}}" target="_blank"  class="checkProfile"> {{docs.title}}</a>
                              </span>
        
                            </p>
                         
                            <div class="img_avatar_R"> <a href="{{docs.url}}" target="_blank"  class="checkProfile"> <h4>view</h4></a></div>
                            <p>
                            <!-- </a> -->
                          </li>
                          
                          <hr>
                        </ul>
                      </div>
        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
  </div>
</div>
<!-- live chat modal -->
<div class="modal fade liveQuestionModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm" style="position: absolute; bottom: 0px; right: 85px;">
      <div class="modal-content">
          <!-- <div class="container-fluid" id="popup">
      <div class="row">
        <div class="col-md-12 col-xl-12">
          <div class="chat_section">
            <div class="popup_header">
              <h6>Live Chat</h6>
              <a class="close" (click)="closeChat()"></a>
            </div>
            <div class="container-fluid" style="  background: #f2f4f7;">
              <div class="row pt-2">
                <div class="col-md-12 col-xl-12 pl-0">
                  <div class="chat_box">
                    <ul class="chat_message" id="chat_messaged">
                      <li class="chat_messageList" *ngFor="let qa of qaList">
                        <div class="img_avatar"> <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/default_avatar.png" alt=""></div>

                        <span class="person">
                          <a href="javascript:void(0);" style="font-size: 14px; font-weight: bold; color: #000;"
                            class="checkProfile">{{qa.question}}</a>
                        </span>
                        
                        <div class="text_message">
                          <table>
                            <td> <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px"
                                width="20px"> &nbsp; &nbsp;</td>
                            <td>
                              <p [innerHTML]="qa.answer"></p>
                            </td>
                          </table>


                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="message_input">
                    <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage"
                      (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                  </div>
                  <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;"
                    (click)="postQuestion(textMessage.value)">Submit</button>
                </div>
               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
          <div class="card" id="chatSection" *ngIf="isShow">
              <div class="p-3" style="font-weight: 500; background-color: #da251c; color: white;">Chat with
                  {{exhibiton[0].title}}
                  <i class="fa fa-times float-right" style="cursor: pointer;" title="Minimize Chat" *ngIf="showchat"
                      (click)="hidediv()"></i>
                  <i class="fa fa-arrow-up float-right" *ngIf="hidechat" title="Maximize Chat" (click)="show()"></i>
              </div>
              <div class="row" *ngIf="showDiv">
                  <div class="col-md-12 col-xl-12 col-sm-12">
                      <div id="setChat">
                          <div class="card p-2 customPost" *ngFor="let qa of qaList" style="border-left: 5px solid cadetblue; margin-bottom: 5px">
                              <div id="image_profile" style="padding: 1px 12px;
                ">
                                  <span class="profileImage1 card-body" *ngIf="myid != qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name
                                      | slice:0:1}}</span>

                                  <div *ngIf="myid != qa.sender_id" id="profile_details1">
                                      <div>{{qa.msg}}</div>
                                  </div>
                                  <span class="profileImage card-body" *ngIf="myid == qa.sender_id" title="{{qa.sender_name}}">{{qa.sender_name
                                      | slice:0:1}}</span>
                                  <div *ngIf="myid == qa.sender_id" id="profile_detail">
                                      <div>{{qa.msg}}</div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="pt-3 pb-3 pl-1 pr-1">
                          <input class="form-control" [(ngModel)]="msgs" maxlength="60" placeholder="Write something here.."
                              [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" /> <br>
                          <button class="btn btn-danger" (click)="postQuestion(textMessage.value)">Send</button>
                      </div>
                  </div>
              </div>
          </div>


      </div>
  </div>
</div>



<div class="modal fade pdfModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6>{{documentName}}</h6>
                  <a class="close" (click)="closepdf()"></a>
                </div>
                <iframe [src]="document" style="width:100%; height:520px" frameborder='0'>This is an embedded <a target='_blank' href='http://office.com'>Microsoft
                  Office</a> document, powered by <a target='_blank' href='http://office.com/webapps'>Office Online</a>.</iframe>
              </div>
            </div>
          </div>
          </div>
      </div>
  </div>
</div>


<!-- video Modal -->
<div class="modal fade" id="playVideo" tabindex="-1" role="dialog" aria-labelledby="playVideoTitle" aria-hidden="true" style="z-index: 9999;">
  <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <!-- <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{{videoName}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div> -->
          <div class="modal-body p-0">
              <div id="modal-video">
                  <div id="closePopup" (click)="closeModalVideo()">&times;</div>
                      <video id="video" preload="auto" [src]="videosource" width="100%" controls>
                          </video>
              </div> 
          </div>
      </div>
  </div>
</div>

<!-- Document Modal -->
<div class="modal fade videosModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="container-fluid" id="popup">
          <div class="row">
            <div class="col-md-12 col-xl-12">
              <div class="chat_section">
                <div class="popup_header">
                  <h6 style="text-transform: uppercase;">Videos</h6>
                  <a class="close" (click)="closePopvideos()"></a>
                </div>
                <div class="container-fluid" style="  background: #f2f4f7;">
                  <div class="row pt-2">
                    <div class="col-md-12 col-xl-12 pl-0">
                      <div class="chat_box">
                        <ul class="chat_message">
                          
                          <li class="chat_messageList" >
                            <!-- <a target="_blank" (click)="getDocument('https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/arise.pdf')"> -->
                            <div class="img_avatar"> <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/lilly/images/video_icon.png" alt=""></div>
                            <p style="    display: inline;">
                              <span class="person">
                                <a href="javascript:void(0);" (click)="playGrowBySharingVideo('https://virtualapi.multitvsolution.com/exhibitions/20201222180627_lilly.mp4');"  class="checkProfile"> Health care lilly 1</a>
                              </span>
        
                            </p>
                         
                            <!-- <div class="img_avatar_R"> <a href="{{docs.url}}" target="_blank"  class="checkProfile"> <h4>view</h4></a></div> -->
                            <p>
                            <!-- </a> -->
                          </li>
                          <li class="chat_messageList" >
                            <!-- <a target="_blank" (click)="getDocument('https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/arise.pdf')"> -->
                            <div class="img_avatar"> <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/lilly/images/video_icon.png" alt=""></div>
                            <p style="    display: inline;">
                              <span class="person">
                                <a  href="javascript:void(0);" (click)="playGrowBySharingVideo('https://virtualapi.multitvsolution.com/exhibitions/Trulicity.mp4');"  class="checkProfile"> Trulicity</a>
                              </span>
        
                            </p>
                         
                            <!-- <div class="img_avatar_R"> <a href="{{docs.url}}" target="_blank"  class="checkProfile"> <h4>view</h4></a></div> -->
                            <p>
                            <!-- </a> -->
                          </li>
                          <hr>
                        </ul>
                      </div>
        
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
      </div>
  </div>
</div>