/* You can add global styles to this file, and also import other style files */
@import './app/shared/custom-style/custom.component.scss';

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
