<!-- <div class="row">
    <div class="col-md-12 col-xl-12 col-sm-12 col-xs-12">
        <div>
            <div [ngStyle]="{'display':videoEnd ? 'block': 'none'}" class="img-fluid">
                <div class="bg"></div>
            </div>
            <div [ngStyle]="{'display':videoEnd ? 'none': 'block'}">
                <video id="myVideo" autoplay="true" class="videoBg" (ended)="videoEnded()">
                    <source src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/video/to_right_Auditorium.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div> -->
<!-- <div style="position: absolute;top: 7%; right: 1%;">
    <audio id="myAudioWhistle">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/whistle.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <a (click)="playAudioWhistle()" type="button">
        <span class="whistle"></span>
    </a>
</div>
<div style="position: absolute;top: 16%; right: 1%;">
    <audio id="myAudioClap">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.wav" type="audio/wav">
        <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <a (click)="playAudioClap()" type="button">
        <span class="handimg"></span>
    </a>
</div> -->
<section>
        <!-- <div style="position: absolute;top: 10%; right: 1%;z-index: 1000;">
            <audio id="myAudioWhistle">
                <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.wav" type="audio/wav">
                <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/whistle.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a (click)="playAudioWhistle()" type="button">
                <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/whistle.png" alt="">
                <span class="handimg"></span>
            </a>
        </div> -->
        <!-- <div id="clap">
            <audio id="myAudioClap">
                <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.wav" type="audio/wav">
                <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
            <a (click)="playAudioClap()" type="button">
                <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/hand.png" alt="">
                <span class="handimg"></span>
            </a>
        </div> -->
        <div id="content">
            <div id="content_wrap">
                <div id="bg">
                    <!-- <img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/images/Masterclass.jpg" alt=""> -->
                </div>
                <div id="player_sec">
                    <vg-player>
                        <vg-controls [vgAutohide]="true" [vgAutohideTime]="2">
                            <vg-play-pause></vg-play-pause>
                            <vg-time-display></vg-time-display>
                            <!-- <vg-playback-button></vg-playback-button> -->
                            <vg-mute></vg-mute>
                            <vg-volume></vg-volume>
                            <vg-fullscreen></vg-fullscreen>
                        </vg-controls>
                        <vg-buffering></vg-buffering>
                        <video #myMedia [vgMedia]="myMedia" preload="auto" [vgHls]="videoPlayerThree" autoplay="true"
                            vg-responsive="true" type="video/mp4">
    
                        </video>
                    </vg-player>
                </div>
            </div>
        </div>
    </section>
    <div class="rightMenu">
        <!-- <ul class="list-unstyled" >
                    <li>
    
                    </li>
                </ul> -->
                <ul class="list-unstyled">
                    <div id="clap">
                       <audio id="myAudioClap">
                           <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.wav" type="audio/wav">
                           <source src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/applause.mp3" type="audio/mpeg">
                           Your browser does not support the audio element.
                       </audio>
                       <a (click)="playAudioClap()" type="button">
                           <img style="width: 44px;" src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/hand.png" alt="">
                           <!-- <span class="handimg"></span> -->
                       </a>
                   </div>
               </ul>
            <ul class="list-unstyled">
                <li>
                    <a data-toggle="modal" data-target=".helpdeskaudi3"><img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/icons/chat-h.png" alt="">
                        <div>Ask Question</div>
                    </a>
                </li>
            </ul>
            <!-- <ul class="list-unstyled">
                <li>
                    <a data-toggle="modal" data-target=".quizModal"><img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/icons/first-floor-h.png" alt="">
                        <div>Quiz</div>
                    </a>
                </li>
            </ul> -->
            <ul class="list-unstyled">
              <li>
                  <a (click)="openGroupChat()"><img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/icons/chat-h.png" alt="">
                      <div>Group Chat</div>
                  </a>
              </li>
          </ul>
            <!-- <ul class="list-unstyled">
                    <li>
                        <a data-toggle="modal" data-target=".pollModalThree"><img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/icons/navigation-h.png" alt="">
                            <div>Poll</div>
                        </a>
                    </li>
                </ul> -->
            <!-- <ul class="list-unstyled">
                    <li> <a data-toggle="modal" data-target=".feebackModal"><img src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/icons/contact-h.png" alt="">
                            <div>Feedback</div>
                        </a>
                    </li>
                </ul> -->
    
    </div>
    
<!-- groupchatThree Modal -->
<div class="modal fade groupchatThree" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                    <div class="container-fluid" id="popup">
                            <div class="row">
                              <div class="col-md-12 col-xl-12">
                                <div class="chat_section">
                                  <div class="popup_header">
                                    <h6>Group Chat</h6>
                                    <a class="close" (click)="closePopup()"></a>
                                  </div>
                                  <div class="container-fluid" style="  background: #f2f4f7;">
                                    <h6 style="text-align: center;"></h6>
                                    <div class="row pt-2">
                                      <div class="col-md-12 col-xl-12 pl-0">
                                        <div class="chat_box">
                                          <ul class="chat_message"  #scroller [scrollTop]="scroller.scrollHeight">
                                            <li class="user-profile-row" *ngFor="let user of messageList" id="user_row_500">
                                              <div class="user-profile-data">
                                                  <div class="user-profile-image"> <img class="img-responsive user-profile-img" src="https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/img/user1.jpg"
                                                          width="32">
                                                  </div>
                                                  <div class="user-profile-info">
                                                      <p class="user-profile-name"><a href="javascript:void(0);">{{user.user_name}}</a></p>
                                                      <p class="user-profile-company">{{user.chat_data}}</p>
                                                  </div>
                                              </div>
                          
                                          </li>
                                          </ul>
                                        </div>
                                        <div class="message_input">
                                            <textarea name="message" autocomplete="off" placeholder="Chat will be shown after moderation" [formControl]="textMessage" (keyup.enter)="postMessageThree(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                                          </div>
                                          <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;" (click)="postMessageThree(textMessage.value)">Send</button>
                                      </div>
                                      <!-- <div class="col-md-1 col-xl-1">
                                        <div class="online_chat"></div>
                                      </div> -->
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>            </div>
        </div>
    </div>

     <!-- Helpdesk in audi -->

<div class="modal fade helpdeskaudi3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="container-fluid" id="popup">
                <div class="row">
                  <div class="col-md-12 col-xl-12">
                    <div class="chat_section">
                      <div class="popup_header">
                        <h6>May I Help You?</h6>
                        <a class="close" (click)="closePopup()"></a>
                      </div>
                      <div class="container-fluid" style="  background: #f2f4f7;">
                        <h6 style="text-align: center; padding-top: 5px; color: green; font-weight: 800;" *ngIf="msg">{{msg}}</h6>
                        <div class="row pt-2">
                          <div class="col-md-12 col-xl-12 pl-0">
                            <div class="chat_box">
                              <ul class="chat_message" id="chat_messagedd">
                                <li class="chat_messageList" *ngFor="let qa of qaList">
                                  <div class="img_avatar"> <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/default_avatar.png" alt=""></div>
                                  <p>
                                    <span class="person">
                                      <a href="javascript:void(0);" class="checkProfile">{{qa.question}}</a>
                                    </span>
                                    <!-- <span class="time">{{chat.created | date: 'medium'}}</span> -->
                                  </p>
                                  <!-- <div class="img_avatar"> <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/default_avatar.png" alt=""></div> -->
                                  <div class="text_message"> <img src="https://d3ep09c8x21fmh.cloudfront.net/https://d3ep09c8x21fmh.cloudfront.net/assets/iffi/iffi/img/customer_support.png" *ngIf="qa.answer" alt="" height="25px" width="20px"> &nbsp; &nbsp;{{qa.answer}}</div>
                                </li>
                              </ul>
                            </div>
                            <div class="message_input">
                                <textarea name="message" autocomplete="off" placeholder="Enter your question" [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" maxlength="200" type="text" id="query" value=""></textarea>
                              </div>
                              <button type="submit" class="btn borderBtn SubmitBut" style="background-color: #292f35; color: white; margin-left: 12px; margin-bottom: 10px;" (click)="postQuestion(textMessage.value)">Submit</button>
                          </div>
                          <!-- <div class="col-md-1 col-xl-1">
                            <div class="online_chat"></div>
                          </div> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
        </div>
    </div>
</div>